# Custom ignores
############

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
wheelhouse/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# boto3 needs to be in top level because the AWS Lambda supplied boto is old.
boto3/
# main.zip file for uploading the lambda functions.
main.zip
# requests library to be packaged for AWS Lambda execution environment.
requests/

# dependencies
node_modules

# production
build

# misc
.DS_Store
.env
npm-debug.log
# because gh-pages branch doesn't need this.
front-end
