/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #eee;
}

#root {
  background-color: #fff;
  border-radius: 1em;
  margin: 0 1em;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

input {
  text-align: center;
  width: 100%;
}

@media (min-width: 768px) {
  .navbar-form .btn {
      display: inline-block;
      width: 9em;
      vertical-align: middle;
      margin: 0px;
  }

  #root {
    margin: auto;
  }

  input {
    width: 20em;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.navbar-default {
  background-color: #fff;
  background-image: none;
  box-shadow: none;
  border: 0px;
}

.EntryHeader {
  text-align: right;
  padding: 2em 2em 0 0;
}

.EntryKeyword {
  font-size: 200%;    
  letter-spacing: 0.1em;
}

.SourceTags {
  font-style: italic;
  color: #888;
}

.Definitions {
  list-style-position: inside;
  padding-left: 2em;
}

.Definition {
  margin: 2em 0;
}

.Definition > div {
  padding-left: 2em;
}

.DefinitionTags {
  color: #888;
}

header {
  margin: 2em 0;
  text-align: center;
}

ol.Definitions {
}

ol li {
    list-style-type: none;
    counter-increment: list;
    position: relative;
}

ol li:before {
    content: counter(list) ".";
    position: absolute;
    /* left: -2.5em; */
    /* width: 2em; */
    text-align: right;
    color: #888;
    font-size: 200%;
}
